html,body{
    margin:0 auto;
    padding:0;
    width:100%;
}

body{
  display:block;
}

.top-left{
  display: flex;
  width:60%;
  margin-left: auto;
  justify-content: space-around;
}
.top-right{
  display: flex;
  width:40%;
  margin-right:auto;
  justify-content: space-around;
}
