html,body{
    margin:0 auto;
    padding:0;
    width:100%;
}

body{
  display:block;
}

.top-left{
  display: flex;
  width:60%;
  justify-content: flex-start;
}
.top-right{
  display: flex;
  margin-right:auto;
  justify-content: flex-end;
}
